/* GENERAL STYLES - START */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

header, section {
    padding: 10vh 20vw;
}

ul, ol, li {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.main-button {
    background-color: #eb7d4b;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 1rem 4.5rem;
    display: inline-block;
    border-radius: 4px;
    border-bottom: 4px solid #c86b42;

    margin-top: 5vh;
}
.section-header{
    
}

.section-header-underline {

}

/* GENERAL STYLES - END */




/* TOP NAVIGATION - START */
.main-nav {
    padding: 4vh 20vw;
    background-color: #87509c;
}

.main-nav__list {
    display: flex;
    justify-content: flex-end;

}

.main-nav__list .list-item {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.main-nav__list .list-item:hover {
    background-color: #643a79;
}


.main-nav__list .list-item > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}
/* TOP NAVIGATION - END */




/* HEADER - START */
.main-header {
    background-color: #87509c;
    color: #fff;
    text-align: center;
}
/* HEADER - END */





/* TEAM - START */
/* TEAM - END */




/* SKILLS - START */
/* SKILLS - END */




/* REFERENCE - START */
/* REFERENCE - END */




/* CONTACT - START */
/* CONTACT - END */




/* FOOTER - START */
/* FOOTER - END */