/* GENERAL STYLES - START */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

header, section {
    padding: 10vh 10vw;
}

ul, ol, li {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.main-button {
    background-color: #eb7d4b;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 1rem 4.5rem;
    display: inline-block;
    border-radius: 4px;
    border-bottom: 4px solid #c86b42;

    margin-top: 5vh;
}
.section-header{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
}



.section-header-underline {
    border: none;
    height: 3px;
    width: 4rem;
    background-color: #cad7e7;
    display: block;
}

/* GENERAL STYLES - END */




/* TOP NAVIGATION - START */
.main-nav {
    padding: 4vh 20vw;
    background-color: #87509c;
}

.main-nav__list {
    display: flex;
    justify-content: flex-end;

}

.main-nav__list .list-item {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.main-nav__list .list-item:hover {
    background-color: #643a79;
}


.main-nav__list .list-item > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
}
/* TOP NAVIGATION - END */




/* HEADER - START */
.main-header {
    background-color: #87509c;
    color: #fff;
    text-align: center;
}
/* HEADER - END */





/* TEAM - START */
.team {
    background-color: #e7f2f8;
    text-align: center;

}

.team .section-header {
    color: #3f4867;
}

.team__staff {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.staff-member__list {
    text-align: center;
}

.staff-member__photo {
    width: 8rem;
    height: 8rem;
    border-radius: 300px;
    background-color: #696969;
    /* margin: 0 50%; */
    display: inline-block;
    margin: 0.5rem auto;

}

.staff-member__name {
    text-align: center;
    margin: 0.5rem auto;
    color: #3f4867;
    font-weight: bold;
    
}

.staff-member:first-of-type .staff-member__name{
    text-transform: uppercase;
}

.staff-member__work-title {
    color: #5cb5d5;
    margin: 0.5rem auto;
    text-align: center;
}

.staff-member__description {
    margin: 1.5rem auto;
    width: 60%;
}

.media__list li {
    background-color: #cbccce;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 200px;
    position: relative;
}
.staff-member__media .media__list i{
    color: white;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 25%;
}

.media__list .facebook i {
    left: 35%;
}
/* TEAM - END */




/* SKILLS - START */
/* SKILLS - END */




/* REFERENCE - START */
/* REFERENCE - END */




/* CONTACT - START */
/* CONTACT - END */




/* FOOTER - START */
/* FOOTER - END */