/* GENERAL STYLES - START */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

ul, ol, li {
    margin: 0;
}

.main-button {

}
.section-header{
    
}

.section-header-underline {

}

/* GENERAL STYLES - END */




/* TOP NAVIGATION - START */
/* TOP NAVIGATION - END */




/* HEADER - START */
/* HEADER - END */





/* TEAM - START */
/* TEAM - END */




/* SKILLS - START */
/* SKILLS - END */




/* REFERENCE - START */
/* REFERENCE - END */




/* CONTACT - START */
/* CONTACT - END */




/* FOOTER - START */
/* FOOTER - END */